@import "tailwindcss";

@theme {
  --color-foreground: oklch(0.8434 0.0479 80.75);
  --color-orange: oklch(0.531 0.1644 29.48);
  --color-light-foreground: oklch(0.8547 0.0539 61.47);
}

body {
  @apply text-foreground;
}
